/* * {
  border: 1px solid red;
} */

html {
  background-color: #e9bf5c;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

.body-color {
  background-color: #633183;
}

.width-add {
  flex-grow: 1;
}

.height-add {
  height: 100vh;
}

.font-style {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
  color: #EFF8F3
}

.container {
  display: flex;
  align-items: stretch;
}

.main-box {
  height: 500px;
}

.score-box {
  width:300px;
  height: 500px;
}

.game-options-box {
  height: 150px;
}

.sidebar-color {
  background-color: #9A67BD;
  z-index: 1;
}

.center {
  display: flex;
  justify-content: center;
}

.player-text {
  font-size: 40px;
  position: absolute;
  top: 150px;
}

.player-text2 {
  font-size: 30px;
  position: absolute;
  top: 210px;
}

.player-text3 {
  font-size: 30px;
  position: absolute;
  top: 260px;
}

.player-text4 {
  font-size: 30px;
  position: absolute;
  top: 310px;
}

.resize-human-img {
  height: 75px;
  width: 50px;
  position: absolute;
  top: 75px;
}


.resize-robot-img {
  height: 50px;
  width: 75px;
  position: absolute;
  top: 100px;
}

.flex-column {
  flex-direction: column;
  align-items: center;
}

.game-mode-button {
  display: block;
  height: 200px;
  width: 300px;
  background-color: ;
}


.margin-top {
  margin-top: 50px;
}
