html {
  background-color: #e9bf5c;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

.body-color {
  background-color: #633183;
}

.sidebar-color {
  background-color: #9A67BD;
  z-index: 1;
}

.game-options-color {
  background-color: #8FA79B;
  z-index: 1;
}

.font-style {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
  color: #EFF8F3
}

.hidden {
  display: none!important;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 10px;
}

.margin-left {
  margin-left: 25px;
}

.margin-right {
  margin-right: 25px;
}

.width-add {
  flex-grow: 1;
}

.height-add {
  height: 100vh;
}

.container {
  display: flex;
  align-items: stretch;
}

.flex-column {
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
  flex-wrap: wrap;
}

.main-box {
  height: 500px;
}

.score-box {
  width:300px;
  height: 500px;
}

.game-options-box {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.player1-text,
.player2-text{
  font-size: 40px;
  position: absolute;
  top: 150px;
}

.player1-text2,
.player2-text2{
  font-size: 30px;
  position: absolute;
  top: 210px;
}

.player1-text3,
.player2-text3 {
  font-size: 30px;
  position: absolute;
  top: 260px;
}

.player1-text4,
.player2-text4 {
  font-size: 30px;
  position: absolute;
  top: 310px;
}

.resize-human-img {
  height: 75px;
  width: 50px;
  position: absolute;
  top: 75px;
}

.resize-robot-img {
  height: 50px;
  width: 75px;
  position: absolute;
  top: 100px;
}

.resize-rock-img {
  height: 200px;
  width: 200px;
}

.resize-paper-img {
  height: 200px;;
  width: 150px;
}

.resize-scissors-img {
  height: 200px;
  width: 150px;
}

.resize-onepunchman-img {
  height: 200px;
  width: 150px;
}

.resize-goku-img  {
  height: 200px;
  width: 200px;
}

.resize-alien-img {
  height: 200px;
  width: 200px;
}

.resize-mosquito-img {
  height: 150px;
  width: 200px;
}

.resize-img {
  height: 200px;
  width: 200px;
}

.game-mode-button {
  display: block;
  height: 200px;
  width: 300px;
  border: none;
}

.game-mode-button2 {
  display: block;
  height: 300px;
  width: 300px;
  border: none;
}

.game-options-button {
  height: 50px;
  width: 175px;
  background-color: #C1D2C8
  border: none;
}

.game-mode-button:hover,
.game-mode-button2:hover,
.game-options-button:hover,
.rock-button:hover,
.paper-button:hover,
.scissors-button:hover,
.onepunchman-button:hover,
.goku-button:hover,
.alien-button:hover,
.mosquito-button:hover,
.resize-rock-img,
.resize-paper-img,
.resize-scissors-img,
.resize-onepunchman-img,
.resize-goku-img,
.resize-alien-img,
.resize-mosquito-img {
  background-color: #381A4C;
  cursor: pointer;
}
